# ------------------------------
# ОБЩИЕ НАСТРОЙКИ
# ------------------------------
NODE_ENV=development
LOG_LEVEL=DEBUG  # Можно менять: DEBUG, INFO, WARN, ERROR, SIGNAL
CHECK_INTERVAL_MINUTES=0.1

# TELEGRAM
# ------------------------------
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# ------------------------------
# MEXC
# ------------------------------
MEXC_ENABLE=true
MEXC_API_KEY=
MEXC_SECRET_KEY=

# ------------------------------
# GATE.IO
# ------------------------------
GATEIO_ENABLE=true
GATEIO_API_KEY=
GATEIO_SECRET_KEY=